{% extends 'visual/base.html' %}
{% load static %}
{% block content %}

<form id="selectionForm">
    <div class="form-group">
        <label>Select player</label><br>
        <select class="selectpicker" id="playerUpdateSelect">
            {% for player in players %}
            <option value="{{ player.first_name }} {{ player.last_name }}" selected>{{ player.first_name }} {{ player.last_name }}</option>
            {% endfor %}
        </select>
        <br><br>
    </div>
    <button type="button" class="btn btn-primary" id="eventAddBtn">Search</button>
    <small class="form-text text-muted">Search for events for this player.
        <br>Any new events added to the database will be displayed below.
    </small>
</form>

<br>
<h4>Updates found</h4>
<br>
<div id="updateDetailsWrapper"></div>

<script src="{% static 'js/updates.js' %}"></script>

{% endblock %}