#selectionForm {
    margin-top: 50px;
    margin-bottom: 80px;
}

#myStackedBarChartWrapper {
    margin-bottom: 80px;
}

#myStackedAgeWonBarChartWrapper {
    margin-bottom: 80px;
}

#myPieChartWrapper {
    margin-bottom: 80px;
}